[user]
	name = Marius Seufzer
	email = marius.seufzer@protonmail.com
	signingkey = <REPLACE-ME>
[core]
	edit = nvim
	pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
  hyperlinks = true
[merge]
  conflictstyle = zdiff3
[init]
	defaultBranch = main
[pull]
	rebase = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
